BOT_TOKEN_PASSENGER=8608017637:AAFOQ8kjtN9KuV1GeDP9OyVAiocSfdBlRbI
BOT_TOKEN_DRIVER=8710839794:AAEo3IdoM08auXMkQb6Hm5LBVPRH2lhzt8Q
DATABASE_URL=psql 'postgresql://authenticator:npg_zpalxJDcH6f1@ep-cold-voice-ab9bjk2d-pooler.eu-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
DB_SCHEMA=authenticator
GROUP_ID_PASSENGER=-1003763329852
GROUP_ID_DRIVER=-1003746797731
